<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css" media="screen"/>
    <title>Média</title>
</head>

  <body>
    <section class="container flex-class">
        

    <div class="form-content flex-class">

      <h1>CALCULAR MÉDIA</h1>
      <label> <input id="aluno" type="text" autocomplete="off" placeholder="Nome do aluno" v-model="tasks.name" ></input></label> 
      <label> <input id="nota-1" type="number" autocomplete="off" placeholder="Nota 01" v-model="tasks.name" ></input></label> 
      <label> <input id="nota-2" type="number"autocomplete="off" placeholder="Nota 02" v-model="tasks.name" ></input></label>
     
      
      <button onclick="calcNotas()">Calcular nota</button>
  <div class="text-p"></div>
  </div>
  </section>
  </body>
  <script src="index.js"></script>  
  </html>
 