*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    
  }
  html{
    font-size: 50%;
  }
  
  h1{
    margin-top: 2em;
    
    font-family:"Roboto";
    font-size:3rem;
    margin-bottom:1.5rem;
    color: #535353
  
  }
 
  .form-content{
     
      background: rgb(250,250,250);
      background: linear-gradient(307deg, rgb(196, 196, 196) 0%, rgb(225, 225, 225) 100%);
      border-radius: 30px;
      box-shadow: -2px -2px 2px 0px #ffffff, 30px 30px 30px 0px rgba(0, 0, 0, 0.22);
      display: flex;
    
      margin: 35px;
      overflow: hidden;
      padding: 30px;
    
  }
  
  .container{
    
     height:100vh;
     background-color: #d1d1d1;
    
     background-size: 100% auto;
     display:flex;
  }
  
  .form-content label{
    
    font-family:"Roboto";
    margin:1.6rem 0;
    font-size:1.5rem;
    
  }
  
  .form-content input{
    font-family:"Roboto";
    font-size:1.5rem;
    height:2rem;
    padding-left:1.5rem
  }
  
  .form-content input::-webkit-outer-spin-button,
  .form-content input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0; 
  
  }
  
  .form-content input {
    border:none;
    margin-left: 10px;
	padding:20px 20px;
	border-radius:15px;
	
  background-color: #7474741a;
  }
  
 .form-content button {background-image: linear-gradient(to right, #dadada 0%, #ebebeb  51%)}
 .form-content button{
     margin: 20px;
     padding: 13px 35px;
     text-align: center;
     text-transform: uppercase;
     transition: 0.5s;
     background-size: 200% auto;
     color: rgb(97, 97, 97);            
     border: none;
     box-shadow: 0px -2px 2px 0px #ffffff, 5px 5px 5px 0px rgba(0, 0, 0, .05);
     border-radius: 15px;
     display: block;
   }
   .form-content button:hover {
     background-position: right center;
   }
  .flex-class{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    color: #dfdfdf
  }  
  .text-p{
    width:90%;
    margin:5rem 0;
   
    border-radius: 0.5rem;
  }
  
  .aprovate-true{
    text-align: center;
    font-family:"Roboto";
    font-size:2rem;
    padding:0 2rem;
    text-align: center;
    font-family:"Roboto";
    padding: 13px 35px;
    text-transform: uppercase;
    background-color: #b9ffa9;
    color: rgb(97, 97, 97);            
    border: none;
    box-shadow: 0px -2px 2px 0px #ffffff, 5px 5px 5px 0px rgba(0, 0, 0, .05);
    border-radius: 15px;
  }
  
  .aprovate-empty{
    
    text-align: center;
    font-family:"Roboto";
    font-size:2rem;
    padding:0 2rem;
    text-align: center;
    font-family:"Roboto";
    padding: 13px 35px;
    text-transform: uppercase;
    background-color: #ffd9a7;
    color: rgb(97, 97, 97);            
    border: none;
    box-shadow: 0px -2px 2px 0px #ffffff, 5px 5px 5px 0px rgba(0, 0, 0, .05);
    border-radius: 15px;
  }
  
  .aprovate-false{
    text-align: center;
    font-family:"Roboto";
    font-size:2rem;
    padding:0 2rem;
    text-align: center;
    font-family:"Roboto";
    padding: 13px 35px;
    text-transform: uppercase;
    background-color: #ffcdcd;
    color: rgb(97, 97, 97);            
    border: none;
    box-shadow: 0px -2px 2px 0px #ffffff, 5px 5px 5px 0px rgba(0, 0, 0, .05);
    border-radius: 15px;
  
  }
  